In [156]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import json, re, requests, urllib, time, os
from bs4 import BeautifulSoup
from data_collection import load_data
from data_collection import add_distance
from data_collection import get_hike_pages
from selenium import webdriver
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [109]:
hikes = load_data('wta-parks-data.json')

In [110]:
hikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 28 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   name                                                       3412 non-null   object
 1   url                                                        3412 non-null   object
 2   length                                                     1921 non-null   float64
 3   highest point                                              1492 non-null   float64
 4   gain                                                       1492 non-null   float64
 5   lat                                                        2273 non-null   float64
 6   lon                                                        2273 non-null   float64
 7   pass: Discover Pass                                        3412 non-null   int64
 8   pass: National Monument Fee                                3412 non-null   int64
 9   pass: National Park Pass                                   3412 non-null   int64
 10  pass: None                                                 3412 non-null   int64
 11  pass: Northwest Forest Pass                                3412 non-null   int64
 12  pass: Sno-Parks Permit                                     3412 non-null   int64
 13  pass: Wilderness permit. Self-issue at trailhead (no fee)  3412 non-null   int64
 14  Wildflowers/Meadows                                        3412 non-null   float64
 15  Dogs allowed on leash                                      3412 non-null   float64
 16  Good for kids                                              3412 non-null   float64
 17  Lakes                                                      3412 non-null   float64
 18  Fall foliage                                               3412 non-null   float64
 19  Coast                                                      3412 non-null   float64
 20  Mountain views                                             3412 non-null   float64
 21  Wildlife                                                   3412 non-null   float64
 22  Old growth                                                 3412 non-null   float64
 23  Summits                                                    3412 non-null   float64
 24  Ridges/passes                                              3412 non-null   float64
 25  Established campsites                                      3412 non-null   float64
 26  Waterfalls                                                 3412 non-null   float64
 27  Rivers                                                     3412 non-null   float64
dtypes: float64(19), int64(7), object(2)
memory usage: 746.5+ KB

In [111]:
hikes.head(2)

,name,url,length,highest point,gain,lat,lon,pass: Discover Pass,pass: National Monument Fee,pass: National Park Pass,...,Fall foliage,Coast,Mountain views,Wildlife,Old growth,Summits,Ridges/passes,Established campsites,Waterfalls,Rivers
0,Luther Burbank Park,http://www.wta.org/go-hiking/hikes/luther-burb...,3.0,120.0,120.0,47.5890,-122.2270,0,0,0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Gem Lake,http://www.wta.org/go-hiking/hikes/gem-lake,10.0,4857.0,1800.0,47.4453,-121.4235,0,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [203]:
client = MongoClient('localhost', 27017)
db = client['wta']
collection = db['hike_pages']

In [ ]:
from data_collection import main
main()